  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    {% if page.entry %}{% t page.entry %} | {% t global.wiki %} | {% t index.page_title %}
    {% elsif tag %}{% t global.tags %}: {{ tag.name }} | {% t index.page_title %}
    {% elsif page.title contains "titles." %}{% t page.title %} | {% t index.page_title %}
    {% elsif page.title %} {{page.title}} | {% t index.page_title %}
    {% else %}{% t index.page_title %}{% endif %}</title>
  <meta name="description" content="
  {% if page.layout == 'moneropedia' %}{% t global.wikimeta %}
  {% elsif page.summary %}{{ page.summary }}
  {% else %}{% t global.titlemeta %}
  {% endif %}">
	<meta name="keywords" content="{{ site.keywords }}">

    <meta property="og:title" content="
    {% t page.title %}{% if page.entry %}: {% t page.entry %}{% endif %}
    {% if page.layout == 'user-guide' %}
      {% if page.permalink contains 'developer' %}{% t titles.developerguides %}{% else %}{% t titles.userguides %}{% endif %}: {{ page.title }}
    {% elsif page.permalink == 'index.html' %}{% t titles.themoneroproject %}
    {% elsif page.layout == 'post' %}{% t titles.blogbytag %}: {{ page.title }}
    {% endif %}" />
    <meta property="og:description" content="
    {% if page.layout == 'moneropedia' %}{% t global.wikimeta %}
    {% elsif page.summary %}{{ page.summary }}
    {% else %}{% t global.titlemeta %}
    {% endif %}">
    <!-- If the page specifys a dedicated logo we use that one, otherwise we use the classic Monero logo -->
    <meta property="og:image" content="{% if page.icon %}{{ page.icon }}{% else %}{{ site.baseurl_root}}/press-kit/symbols/monero-symbol-480.png{% endif %}">
    <meta property="og:site_name" content="{% t global.sitename %}">
    <meta property="og:url" content="https://getmonero.org{{ page.url }}">
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
        <link rel="manifest" href="/meta/manifest.json">
        <link rel="mask-icon" href="/meta/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

    <link href="/css/custom.css" rel="stylesheet">

    
    <meta name="msapplication-config" content="/ietemplates/ieconfig.xml">

  </head>
